html, body, #root
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: rgb(164, 142, 180);
}

.interface
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.button-container
{
  position: absolute;
	left: 10px;
	top: 10px;
	transform: translateX(0%);
	display: flex;
  flex-direction: column;
	align-items:center;
	justify-content:left;
  cursor: pointer;
  pointer-events: auto;
}

@media screen and (min-width: 640px) {
	.button-container
  {
    flex-direction: row;
    transform: none;
    left: auto; /* Reset left property */
    right: 30px; 
    top: 10px; 
  }
}

.reset, .undo, .info
{
    font-family: 'Poppins', sans-serif;
    font-size: min(13px, 10vw);
    width: 30vw;
    height: 30vw;
    max-width: 50px;
    max-height: 50px;
    margin-top: 16px;
    margin-left: 16px;
    background-color: rgb(105, 187, 162);
    color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: auto;
    cursor: pointer;
    transition: background-color 0.1s, transform 0.3s;
}




@media(hover: hover) {
  .reset:hover, .reset:active, .undo:hover, .undo:active
  {
      background-color:  rgb(52, 83, 219);
      transform: scale(1.05);
  }
  
  .reset:active, .undo:active
  {
      transform: transform 0s;
  }
}

.bottom-menu {
	position: absolute;
	left: 50%;
	bottom: 10px;
	height: 48px;
	width: 80vw;
  transform: translateX(-50%);
	max-width: 350px;
	border-radius: 20px 20px 0 0;
	display: flex;
	align-items:center;
	justify-content:space-between;
	padding:0 21px 6px 16px;
  cursor: pointer;
  pointer-events: auto;
}

@media screen and (min-width: 640px) {
	.bottom-menu {
		width: 400px;
		max-width: none;
	}
}

.rotate, .open-menu {
	width: 30px;
	height: 30px;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  color: rgb(255, 255, 255);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
	background-color: rgb(191, 113, 255);
  flex-shrink: 0;
}

.rotate {
  transform: rotate(90deg);
  font-size: 20px;
  margin-left: 18px;
}


.open-menu {
  font-size: 22px;
  margin-right: 18px;
  overflow: hidden;
}

.menu-container{
  position: absolute;
  left: 50%;
  top: 50%;
  max-width: 400px;
  max-height: 400px;
  width: 80vw;
  height: 80vw;
  transform: translateX(-50%) translateY(-50%);
}

.close-button {
  position: absolute;
  transform: scaleY(72%) translateX(30px) translateY(-40px);
  right: 0;
  top: 0;
  font-family: 'Poppins', sans-serif;
  font-weight: 100;
  width: 20px;
	height: 20px;
  font-family: 'Poppins', sans-serif;
  font-weight: 100;
  color: rgb(255, 255, 255);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  pointer-events: auto;
	/* background-color: rgba(240, 240, 240, 0.2);
  flex-shrink: 0; */
}

.grid-menu {
  position: absolute;
  left: 50%;
  top: 50%;
  max-width: 400px;
  max-height: 400px;
  width: 80vw;
  height: 80vw;
  transform: translateX(-50%) translateY(-50%);
  background-color:  rgba(255, 255, 255, 0.5);
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(calc(25% - 10px), 1fr));
  grid-template-rows: repeat(auto-fill, minmax(calc(25% - 10px), 1fr));
  gap: 10px; 
  padding: 10px;
  cursor: pointer;
  pointer-events: auto;
  /* transform: translateY(-50%); */
}


.grid-item {
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  transition: transform 0.2s;
}

@media(hover: hover) {
  .grid-item:hover
  {
    outline: 2px solid  rgb(236, 212, 255);
    transform: scale(1.02);
  }
  
  /* .grid-item:active
  {
      transform: transform 0s;
  } */
}

.grid-item.selected {
  outline: 2px solid  rgb(236, 212, 255);
}


.inventory-image {
  max-width:100%;
  max-height:100%;
}


.plus, .minus {
  font-family: 'Poppins', sans-serif;
  font-size: 26px;
  font-weight: 400;
  color: rgb(255, 255, 255);
  flex-shrink: 0;
}

.slider-range {
	width: 100%;
	height: 13px;
	margin: 0 10px;
	-webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
}

.slider-range::-webkit-slider-runnable-track {
  background: rgb(255, 255, 255);
  height: 2px;
}

.slider-range::-moz-range-track {
  background: rgb(255, 255, 255);
  height: 2px;
}

.slider-range::-webkit-slider-thumb {
	-webkit-appearance: none;
	width: calc(40px * var(--thumb-scale, 1));
	height: calc(40px * var(--thumb-scale, 1));
  background-color: rgb(105, 187, 162);
	border-radius: 50%;
	transform: translateY(-50%);
}

.slider-range::-moz-range-thumb {
	border: none;
	width: 15px;
	height: 15px;
	background-color: white;
	border-radius: 50%;
	margin-top: -5px;
    transform: translateY(-50%);
}

.slider-range:focus {
  outline: none;
}
