html, body, #root
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: rgb(22, 16, 26);
}

.interface
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.button-container
{
  position: absolute;
	left: 30px;
	top: 10px;
	transform: translateX(-50%);
	display: flex;
  flex-direction: column;
	align-items:flex-start;
	justify-content:left;
	padding:0 21px 6px 16px;
  cursor: pointer;
  pointer-events: auto;
}

.reset, .undo
{
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    width: 50px;
    height: 50px;
    margin-top: 16px;
    margin-left: 16px;
    background-color: rgb(105, 187, 162);
    color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    pointer-events: auto;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.1s, transform 0.3s;
}



@media(hover: hover) {
  .reset:hover, .reset:active, .undo:hover, .undo:active
  {
      background-color:  rgb(52, 83, 219);
      transform: scale(1.05);
  }
  
  .reset:active, .undo:active
  {
      transform: transform 0s;
  }
}

.slider {
	position: absolute;
	left: 50%;
	bottom: 10px;
	height: 48px;
	width: 80vw;
	max-width: 350px;
	border-radius: 20px 20px 0 0;
	transform: translateX(-50%);
	display: flex;
	align-items:center;
	justify-content:space-between;
	padding:0 21px 6px 16px;
  cursor: pointer;
  pointer-events: auto;
}

@media screen and (min-width: 640px) {
	.slider {
		width: 400px;
		max-width: none;
	}
}

.rotate {
	width: 30px;
	height: 30px;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: rgb(255, 255, 255);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
	background-color: rgb(191, 113, 255);
  flex-shrink: 0;
  transform: rotate(90deg);
  margin-left: 28px;
}

.plus, .minus {
  font-family: 'Poppins', sans-serif;
  font-size: 26px;
  font-weight: 400;
  color: rgb(255, 255, 255);
  flex-shrink: 0;
}

.slider-range {
	width: 100%;
	height: 13px;
	margin: 0 10px;
	-webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
}

.slider-range::-webkit-slider-runnable-track {
  background: rgb(255, 255, 255);
  height: 2px;
}

.slider-range::-moz-range-track {
  background: rgb(255, 255, 255);
  height: 2px;
}

.slider-range::-webkit-slider-thumb {
	-webkit-appearance: none;
	width: calc(40px * var(--thumb-scale, 1));
	height: calc(40px * var(--thumb-scale, 1));
  background-color: rgb(105, 187, 162);
	border-radius: 50%;
	transform: translateY(-50%);
}

.slider-range::-moz-range-thumb {
	border: none;
	width: 15px;
	height: 15px;
	background-color: white;
	border-radius: 50%;
	margin-top: -5px;
    transform: translateY(-50%);
}

.slider-range:focus {
  outline: none;
}
