html, body, #root, .speckle
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

html
{
  background: linear-gradient(#5a3181 10%, #7C7FB4 98%);
}

body
{
  background: url("/images/grid.png"), repeat;
  background-size: max(12vw, 130px);
}

.speckle
{
  background: url("/images/speckle.png"), repeat;
  background-size: max(2vw, 25px);
}

.interface
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

/*
//Top menu
*/

.top-menu
{
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
  pointer-events: auto;
}

.top-left-buttons, .top-right-buttons
{
  display: flex;
  flex-direction: row;
}

.top-left-buttons
{
  margin-left: 15px;
}

.top-right-buttons
{
  margin-right: 15px;
}

@media screen and (max-width: 540px)
{
  .top-menu{
    justify-content: space-evenly;
  }
}

.top-button, .info
{
    height: min(15.5vw, 68px);
    box-sizing: border-box;
    object-fit: scale-down;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;

    pointer-events: auto;
    cursor: pointer;
}


/*
//Bottom menu
*/

.info
{
  position: absolute;
  padding-left: 15px;
  bottom: 25px;
  height: min(11vw, 50px);
  object-fit: contain;
}


.bottom-menu
{
  position: absolute;
  width: 100%;
  bottom: 0px;
  height: 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  left: 50%;
  transform: translateX(-50%);
}

.bottom-center-menu {
	position: absolute;
	left: 50%;
	bottom: 30px;
	width: 50vw;
  min-width: 500px;
  max-width: 720px;
  transform: translateX(-50%);
	border-radius: 20px 20px 0 0;
	display: flex;
	align-items:center;
	justify-content:space-between;
}


.bottom-button {
  height: min(10vw, 50px);
  margin-left: 5px;
  margin-right: 5px;
  pointer-events: auto;
  cursor: pointer;
  object-fit: contain;
}


@media screen and (max-width: 750px) {
  .bottom-menu{
    width: 93vw;
  }
  .bottom-center-menu 
  {
		width: 93vw;
    min-width: auto;
    bottom: 20px;
	}
  .info
  {
    right: 0;
    margin-right: 0;
    padding-bottom: 3px;
    bottom: max(min(15vw, 70px), 50px);
  }
  .bottom-button
  {
    margin-left: 3px;
    margin-right: 3px;
  }

  .slider-range {
    margin: 0 5px;
  }
}

img
{
  max-height: 100%;
}


/*
//Context Menu
*/
.contextMenu
{
  display: flex;
  width: 190px;
  height: 200px;
  justify-content: space-between;
  transform: translateX(-50%) translateY(-50%);
}

.context-group, .rotate-group, .size-group
{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.rotate-group
{
  justify-content: center;
}

.size-group
{
  justify-content: center;
}

.context-button
{
  height: min(9vw, 45px);
  margin-left: 5px;
  margin-right: 5px;
  pointer-events: auto;
  cursor: pointer;
  object-fit: contain;
  opacity: 0.9;
}

.rotate.context-button, .increment.context-button, .decrement.context-button
{
  margin: 6px 0px;
  scale: 90%;
}

/*
//Sticker Menu
*/

.menu-container, .grid-menu
{
  position: absolute;
  left: 50%;
  top: 50%;
  max-width: 450px;
  max-height: 450px;
  min-width: 200px;
  min-height: 200px;
  width: 72vw;
  height: 72vw;
  transform: translateX(-50%) translateY(-50%);
}


.grid-menu 
{
  background-color:  rgba(201, 178, 236, 0.7);
  border-radius: 12px;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(calc(25% - 12px), 1fr));
  grid-template-rows: repeat(auto-fill, minmax(calc(25% - 12px), 1fr));
  gap: 12px; 
  padding: 15px;
  cursor: pointer;
  pointer-events: auto;
}


.grid-item {
  box-sizing: border-box;
  width: 100%;
  margin:2px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  transition: transform 0.2s;
}

@media(hover: hover) {
  .grid-item:hover
  {
    outline: 4px dashed rgba(255, 49, 0, 0.63);
    border-radius: 10px;
    transform: scale(1.07);
  }
  
}

.grid-item.selected {
  outline: 4px dashed rgba(255, 49, 0, 0.63);
  background-color: rgba(255, 207, 255, 0.8);
  border-radius: 10px;
  transform: scale(1.07);
  z-index: 2;
}


.inventory-image {
  max-width:100%;
  max-height:100%;
}

.close-button, .next-button, .previous-button {
  position: absolute;
  background: transparent;
  cursor: pointer;
  pointer-events: auto;
}

.close-button
{
  right: -40px;
  top: -40px;
  width: 23px;
	height: 23px;
  opacity: 75%;
}

.next-button, .previous-button
{
  top: 40%;
  scale: 75%;
}

.next-button
{
  right: -18%;
}

.previous-button
{
  left: -18%;
}

@media screen and (max-width: 625px)
{
  .next-button, .previous-button
  {
    transform: scale(70%);
    top: 35%;
  }

  .next-button
  {
    right: max(-70px, -23%);
  }

  .previous-button
  {
    left: max(-70px, -23%);
  }
  .grid-item.selected
  {
    outline: 4px dotted rgba(255, 49, 0, 0.63);
  }

  .grid-menu 
  {
    grid-template-columns: repeat(auto-fill, minmax(calc(25% - 6px), 1fr));
    grid-template-rows: repeat(auto-fill, minmax(calc(25% - 6px), 1fr));
    gap: 6px; 
    padding: 10px;
  }

  .close-button
  {
    right: -35px;
    top: -35px;
  }

}

/*
//Info overlay
*/
.info-overlay
{
  position: absolute;
  font-family: 'Poppins', sans-serif;
  left: 50%;
  top: 50%;
  max-width: 500px;
  max-height: 80vh;
  background-color: #dfcdff;
  outline-offset: -1px;
  outline: 15px solid white;
  border-radius: 15px;
  transform: translateX(-50%) translateY(-50%);
  pointer-events: auto;
  padding: 38px 26px 38px 38px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h2
{
  font-size: 20px;
  font-weight: 800;
  color: #003d2b;
  padding: 0px;
  padding-bottom: 0.8em;
  margin: 0px;
  line-height: 0px;
}

ul, .info-text
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: max(13pt, 2vh);
    color: #00684a;
    font-weight: 500;
}

.info-text
{
  padding-bottom: 0.4em;
}

li
{
  display: flex;
  align-items: center;
  padding: 0px;
  margin: 0px;
  padding-bottom: 0.3em;
  white-space: nowrap;
}

.bold
{
  font-weight: 800;
  padding-right: 5px;
}

.text-icon
{
  height: 26px;
  padding-left: 0.3em;
}

.spacer-middle
{
  height: 2em;
}

.spacer-top
{
  height: 0.8em;
}

.close-info
{
  position: absolute;
  top: -38px;
  right: -38px;
  width: 23px;
  pointer-events: auto;
  cursor: pointer;
  opacity: 0.8;
}

.close-storage
{
  position: absolute;
  top: 0px;
  right: 0px;
  pointer-events: auto;
  cursor: pointer;
}

@media screen and (max-width: 600px)
{
  .info-overlay
  {
    padding: 20px 15px 20px 20px;
    outline-width: 10px;
    width: 70vw;
  }

  h2
  {
    font-size: 14pt;
  }

  ul, .info-text
  {
    font-size: 11pt;
    color: #004932;
  }

  .spacer-middle
  {
    height: 1em;
  }

  .close-x
  {
    top: -25px;
    right: -25px;
    width: 20px;
  }
  .close-storage
  {
    width: 23px;
  }

}


/*
//Slider
*/


.slider-range {
	width: 100%;
	height: 13px;
	margin: 0 10px;
	-webkit-appearance: none;
  appearance: none;
  background: transparent;
  outline: none;
  cursor: pointer;
  pointer-events: auto;
  transform: translateY(15%);
}

.slider-range::-webkit-slider-runnable-track {
  background: rgb(240, 255, 244);
  height: 8px;
  border-radius: 10px;
}

.slider-range::-moz-range-track {
  background: rgb(240, 255, 244);
  height: 8px;
  border-radius: 10px;
}

.slider-range::-webkit-slider-thumb {
	-webkit-appearance: none;
  border: 0;
  box-shadow: none;
	width: calc(min(12vw, 60px) * var(--thumb-scale, 1));
	height: calc(min(12vw, 60px) * var(--thumb-scale, 1));
  background-color: transparent;
  background-image: url('/images/flower-thumb.png');
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  margin-top: 5px;
	transform: translateY(-50%);
}

.slider-range::-moz-range-thumb {
	border: none;
  box-shadow: none;
	width: calc(min(12vw, 60px) * var(--thumb-scale, 1));
	height: calc(min(12vw, 60px) * var(--thumb-scale, 1));
  background-color: transparent;
  background-image: url('/images/flower-thumb.png');
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

.slider-range:focus {
  outline: none;
}


/*
//Load, save menus
*/


.load-menu, .save-menu
{
  position: absolute;
  top: 50vh;
  left: 50vw;
  transform: translateX(-50%) translateY(-50%);
  width: 710px;
  height: 305px;
  background: transparent;
  background-image: url('/images/bubble.svg');
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  font-family: 'Poppins', sans-serif;
  font-size: 16pt;
  font-weight: 700;
  color: rgb(148, 58, 152);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: default;
  pointer-events: auto;
}

.error 
{
  position: absolute;
  top: 200px;
  font-size: 12pt;
  color:rgb(0, 94, 89);
  font-weight: 700;
  text-align: center;
}

input[type=text], button
{
  font-family: 'Poppins', sans-serif;
  font-size: 16pt;
  border: none;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
}

label, input[type=text], button
{
  margin: 0px 4px;
}

input[type=text]:focus
{
  outline-style: solid;
  outline-color:  rgb(255, 205, 97);
  outline-width: 2px;
}

input[type=text]
{
  color: rgb(0, 94, 89);
  font-size: 15pt;
  font-weight: 600;
  background-color:rgb(255, 255, 238);
  border-color: rgb(255, 241, 209);
  border-style: solid;
  width: 260px;
}

button
{
  cursor: pointer;
  background-color: rgb(148, 58, 152);
  color: rgb(255, 255, 238);
  font-weight: 600;
}

@media(hover: hover) {
  button:hover, button:active
  {
    background-color: rgb(26, 103, 148);
  }

}


@media screen and (max-width: 780px)
{
  .load-menu, .save-menu
  {
    width: 90vw;
    height: calc(90vw * 0.45);
    min-width: 350px;
    min-height: 150px;
  }

  input[type=text]
  {
    width: 30vw;
    min-width: 120px;
    padding-left: 5px;
    padding-right: 5px;
  }

  button, label, input[type=text], .load-menu, .save-menu
  {
    font-size: 12pt;
  }

  label
  {
    color: #7A307E;
  }

}


@media screen and (max-width: 600px)
{

  .load-menu, .save-menu
  {
    height: calc(90vw * 0.62);
    background-image: url('/images/tall-bubble.svg');
  }
  
  form
  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  label, input
  {
    margin: 6px;
  }

  button
  {
    margin-top: 10px;
  }

  .error 
  {
    position: static;
    top: 180px;
  }
}

.animate-button
{
  transition: transform 0.3s;
}


@media(hover: hover) {
  .animate-button:hover, 
  .animate-button:active
  {
      transform: scale(1.05);
  }
  
  .animate-button:active
  {
      transform: transform 0s;
  }
}

.animate-modal
{
  animation: fadeIn 0.4s;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1;}
}